.main-header {
  background-color: #16abf8;
  width: 100%;
  color: white;
  height: 5.5rem;
  display: flex;
  align-items: center;
  h2 {
    margin: 0 100px;
    font-weight: 700;
    font-size: 24px;
  }
}
.main-content {
  margin: 20px 100px;
}
