<div *ngIf="!isLoading" [attr.data-cy]="data?.from === 'deleted' ? 'modal-information' : 'modal-delete'">
  <mat-dialog-content class="dialog-content" *ngIf="data?.from !== 'deleted'">
    <img data-cy="modal-delete-icon" src="../../assets/image//modal-delete-icon.png" />
    <h2 data-cy="modal-delete-title">
      Apakah anda yakin menghapus {{ data?.from }}
      <span style="font-weight: 600">"{{ data?.title }}"</span>?
    </h2>
  </mat-dialog-content>
  <mat-dialog-content class="info" *ngIf="data?.from === 'deleted'">
    <img data-cy="modal-information-icon" src="../../assets/image/alert.png" />
    <h3 data-cy="modal-information-title">Activity berhasil dihapus</h3>
  </mat-dialog-content>
  <mat-dialog-actions align="center" *ngIf="data?.from !== 'deleted'">
    <button data-cy="modal-delete-cancel-button" mat-button mat-dialog-close class="button-cancel">Batal</button>
    <button data-cy="modal-delete-confirm-button" mat-button class="button-delete" (click)="deleteItem()">
      Hapus
    </button>
  </mat-dialog-actions>
</div>
<div *ngIf="isLoading" class="center-spinner">
  <mat-spinner> </mat-spinner>
</div>
