<div>
  <div class="header">
    <h2>Activity</h2>
    <button mat-raised-button class="custom-button" (click)="addActivity()">
      <mat-icon>add</mat-icon>
      <span>Tambah</span>
    </button>
  </div>
  <div class="content">
    <div class="no-data" *ngIf="!data?.length && !isLoading">
      <img src="../../assets/image/activity-empty-state.png" />
    </div>
    <div class="list-card" *ngIf="data?.length && !isLoading">
      <mat-card *ngFor="let card of data" (click)="viewDetail(card)">
        <mat-card-header
          ><h4>{{ card?.title }}</h4></mat-card-header
        >
        <mat-card-actions>
          <div class="card-action">
            <span>{{
              card?.created_at | date : "dd MMMM yyyy" : "" : "id"
            }}</span>
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); deleteActivity(card)"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="center-spinner">
    <mat-spinner *ngIf="isLoading"> </mat-spinner>
  </div>
</div>
