<div>
  <div class="header">
    <h2 data-cy="activity-title">Activity</h2>
    <button data-cy="activity-add-button" mat-raised-button class="custom-button" (click)="addActivity()">
      <mat-icon>add</mat-icon>
      <span>Tambah</span>
    </button>
  </div>
  <div class="content">
    <div class="no-data" *ngIf="!data?.length && !isLoading" data-cy="activity-empty-state">
      <img src="../../assets/image/activity-empty-state.png" />
    </div>
    <div class="list-card" *ngIf="data?.length && !isLoading">
      <mat-card data-cy="activity-item" *ngFor="let card of data;" (click)="viewDetail(card)">
        <h4 data-cy="activity-item-title">{{ card?.title }}</h4>
        <mat-card-actions>
          <div class="card-action">
            <span data-cy="activity-item-date">{{
              card?.created_at | date : "dd MMMM yyyy" : "" : "id"
            }}</span>
            <button data-cy="activity-item-delete-button"
              mat-icon-button
              (click)="$event.stopPropagation(); deleteActivity(card)"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="center-spinner">
    <mat-spinner *ngIf="isLoading"> </mat-spinner>
  </div>
</div>
