/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f4f4f4;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #16abf8 !important;
}
.no-padding-pop-up .mat-dialog-container{
  padding: 0;
}
.red {
  color: #ed4c5c;
}
.yellow {
  color: #f8a541;
}
.blue {
  color: #428bc1;
}
.green {
  color: #00a790;
}
.purple {
  color: #8942c1;
}